<% @users.each do |user| %>
  <%= link_to "/users/#{user.id}" do %>
  <div class="userList">
    <p class="userName"><%= user.username %></p>
  </div>
  <% end %>
  <% if user.id == current_user.id %>
    <%= link_to "編集", "/users/#{user.id}/edit" %>
    <%= link_to "削除", "/users/#{user.id}", method: :delete, data: { confirm: "本当に削除しますか?" } %>
  <% end %>
<% end %>