
<h2 class="subtitle">研修日報リスト</h2>
<% @reports.each do |report| %>
  <%= link_to "/reports/#{report.id}" do %>
    <ul class="reportsList">
      <li class="reportItem">実施日：<%= report.date %></li>
      <li class="reportItem">場所：<%= report.place %></li>
      <li class="reportItem">作成者：<%= report.username %></li>
    </ul>
  <% end %>
<% end %>